<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Flack</title>
    </head>
    <body>
      <div class="container" id="new_user">
        <div class="row">
          <div class="col-sm">
            <h3>Welcome to Flack</h3>
            Enter User Name: <input type="text" placeholder='your username' id="uname"><br>
            <button id="sign_up">Sign up!</button>
          </div>
        </div>
      </div>

      <div class="container" id="old_user">
        <div class="row">
          <div class="col-sm">
            <h3 id="welcome_user"></h3>
            <div id = "available_channels">
              <h6>Available Channels</h6>
              <ul id="channels">
                {% for channel in channels %}
                <li><a class="channel_link" href='#'>{{channel}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <hr>
            <h6>Create a new Channel</h6>
            <form id="new_channel">
              <input id="channel" autocomplete="off" autofocus placeholder="New Channel" type="text">
              <input type="submit" value="Create New Channel">
            </form>
          </div>
          <div class="col-sm" id="chat_col">
            <h6 id="channel_name" visiblity="hidden"></h6>
            <div id="previous_chat_area"><ul id="previous_chats"></ul></div>
            <textarea id="chatentry" rows="5", cols="30", placeholder="chat", disabled></textarea>
          </div>
        </div>
      </div>
    </body>
</html>
